<mat-card class="post">
  <mat-card-title class="post-title">Post</mat-card-title>
  <form class="post-form" [formGroup]="form" (ngSubmit)="onEdit()">
    <mat-card-content>
      <mat-form-field class="post-form__field" appearance="legacy">
        <mat-label>Title</mat-label>
        <input class="post-form__field_input" matInput placeholder="enter title..." type="text" formControlName="title">
        <mat-hint>Post Title</mat-hint>
      </mat-form-field>
      <mat-form-field class="post-form__field" appearance="legacy">
        <mat-label>Author</mat-label>
        <input class="post-form__field_input" matInput placeholder="enter author name..." type="text" formControlName="author">
        <mat-hint>Post Author</mat-hint>
      </mat-form-field>
      <mat-form-field class="post-form__field" appearance="legacy">
        <mat-label>Image</mat-label>
        <input class="post-form__field_input" matInput placeholder="enter image link..." type="text" formControlName="image">
        <mat-hint>Post Image</mat-hint>
      </mat-form-field>
      <div class="NgxEditor__Wrapper">
        <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
        <ngx-editor
          formControlName="content"
          [editor]="editor"
          [placeholder]="'Type here...'"
        ></ngx-editor>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" class="btn submit">Save</button>
    </mat-card-actions>
  </form>
</mat-card>