.container
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  background: rgba(0, 0, 0, .1)
.login-form
  width: 50rem
  margin: 5% auto 0
  padding: 2rem
.form-inputs
  width: 100%
  padding: 1rem 0 3rem 0
  .mat-form-field
    width: 100%
    padding: 1rem
.btn-group
  position: absolute
  right: 4rem
  bottom: 0
