section.modal.modal__login
  .container.modal-container
  form(method="POST", action="/auth/login").modal-form.modal-form__login
    span.modal__title Login
    hr
    label.modal-form__title Username
    input(type="text", placeholder="enter username...", name="username").modal-form__input
    label.modal-form__title Password
    input(type="password", placeholder="enter password...", name="password").modal-form__input
    button(type="submit").modal-form__btn Login

section.modal.modal__signup
  .container.modal-container
  form(method="POST", action="/auth/signup").modal-form.modal-form__signup
    span.modal__title Sign Up
    hr
    label.modal-form__title Username
    input(type="text", placeholder="enter username...", name="username").modal-form__input
    label.modal-form__title Password
    input(type="password", placeholder="enter password...", name="password").modal-form__input
    label.modal-form__title Email
    input(type="email", placeholder="enter email...", name="email").modal-form__input
    label.modal-form__title First name
    input(type="text", placeholder="enter first name...", name="firstname").modal-form__input
    label.modal-form__title Last name
    input(type="text", placeholder="enter last name...", name="lasttname").modal-form__input
    button(type="submit").modal-form__btn Login
